* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.filter {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    padding-top: 25px;
}
.nav {
    all: unset;
    width: calc(33% - 10px);
    text-align: center;
    text-decoration: underline;
    font-family: sans-serif;
    font-size: 26px;
    color: #367DCA;
    font-weight: bolder;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.user-container {
    display: flex;
    flex-direction: column;
    width: calc(25% - 40px);
    border: .5px solid gray;
    margin: 20px;
    padding: 10px;
    height: 300px;
    align-items: center;
}
.name {
    color: #367DCA;
    font-size: 26px;
    font-weight: bolder;
    margin: 0px;
}
.avail {
    color: #D77F74;
}
.thumbnail {
    width: 70%;
    margin: auto;
}
.hired {
    color: gray;
}



/* singles page */

.user-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width:75%;
    padding-top: 20px;
}
.round-pic {
    border-radius: 50%;
    border: .5px solid gray;
    width: 200px;
    height: 200px;
    padding: 10px;
}
.big-name {
    font-size: 44px;
    display: block;
    width: 80%;
    font-weight: lighter;
    margin-bottom: 10px;
}
.info-container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 20px);
    margin: 10px;
    flex-wrap: wrap;
}
.s-and-e {
    display: flex;
    flex-direction: row;
    width: 73%;
    margin: auto;
    padding-top: 20px;
}

.left-border {
    border-left: .5px solid black;
    margin-left: 10px;
    padding-left: 10px;
}
.right-side-wrapper {
    width: 65%;
    padding-left: 20px;
}
.flex-info {
    display: flex;
    padding: 5px;
}
p {
    margin: 0px;
}
.edu {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.skills {
    display: flex;
    flex-direction: row;
    width: 100%;
}
ul {
    margin: 0px;
    padding: 0px 5px;
    list-style: none;
}
.title {
    font-weight: bolder;
    text-align: right;
    margin-right: 20px
}
.title-skills {
    font-weight: bolder;
    margin-left: 40px;
    margin-right: 10px;
}
.skills-list {
    padding-bottom: 10px;
}